.box1{
  width: 233px;
  height: 192px;
  background-color: #FC0000;
  position:fixed;
  top: 11px;
  left: 12px;
  z-index: 4;
}
.box2{
  width: 233px;
  height: 192px;
  background-color: #05FC00;
  position:fixed;
  top: 107px;
  left: 128px;
  z-index: 3;
}
.box3{
  width: 233px;
  height: 192px;
  background-color: #F7FC00;
  position:fixed;
  top: 253px;
  left: 314px;
  z-index: 2;
}
.box4{
  width: 233px;
  height: 192px;
  background-color: #000AFC;
  position:fixed;
  top: 203px;
  left: 244px;
  z-index: 1;
}